body {
	background-image: url('../Img/email-pattern.webp');
	background-color: lightgray; /* Used if the image is unavailable */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

.container {
	padding-top: 50px;
}

#rcorners2 {
	margin-top: 70px;
	margin-left: 234px;
	border-radius: 25px;
	border: 2px solid #5a0748;
	padding: 10px;
	width: 800px;
	height: 100px;
	font-family: 'Dancing Script', cursive;
	font-size: 35px;
	text-align: center;
}

h2 {
	margin-top: 20px;
	font-family: 'Pacifico', cursive;
	text-align: center;
	color: #5a0748;
	font-size: 50px;
}

h3 {
	font-family: 'Lobster', cursive;
	text-align: center;
	color: #5a0748;
	font-size: 30px;
}
